
<div class="abspos">
    <div class="container">
      <div class="uk-child-width-1-3" uk-grid>
        <div (click)="showLandscape()">
            <div class="uk-card uk-card-primary uk-card-hover uk-card-body">
                <h3 class="uk-card-title"  style="text-align: center;font-size: 18px">Landscape Designing</h3>
                <!-- <p>Explore our service for beautiful landscape -->
              </div>
              <div class="uk-card-media-bottom">
                <img src="../assets/imgs/landscape.jpg" alt="">
              </div>
        </div>  
        
        <div  (click)="showPowderCoating()">
            <div class="uk-card uk-card-primary uk-card-hover uk-card-body">
                <h3 class="uk-card-title"  style="text-align: center;font-size: 18px">Powder Coating</h3>
                <!-- <p>We are sales channel partner of reputed thermolux pvt ltd</p> -->
              
              </div>
              <div class="uk-card-media-bottom">
                <img src="../assets/imgs/main.jpg" alt="">
              </div>
        </div>  
  
        <div  (click)="showConsulting()">
            <div class="uk-card uk-card-primary uk-card-hover uk-card-body">
                <h3 class="uk-card-title" style="text-align: center;font-size: 18px">Consulting</h3>
                <!-- <p>Find out more about our consulting service that we offer</p> -->
              </div>
              <div class="uk-card-media-bottom">
                <img src="../assets/imgs/consulting.jpg" alt="">
              </div>
        </div>  
  
      </div>
    </div>
  </div>