.container{
    display:flex;justify-content:space-around;flex-direction:row;   
}

.abspos{
position: absolute;
top: 70vh;
z-index: 1;
width: 100vw;
}

.uk-grid{
    margin-left: 5px;
    margin-right: 30px
}
