<div style="background-color:ivory" class="uk-container">
<div class="uk-container">
    <h2 class="uk-heading-bullet">About Us</h2>
    <div>
        <p>Creating value, addressing changing needs, supporting sustainable growth and ensuring the viability into the
            future for Indian Industrial Growth.</p>
    </div>

    <div>
        Mrunmayi Agro Associates established in year 2012. MAA is an Industrial consulting and manufacturing firm
        providing innovative, sustainable and result driven solutions and services to Industrial agriculture, Landscape
        and Gardening, Industrial Powder Paints and Exports.
    </div>
<br>
    <div>
        <p>
            MAA works in 4 different division.
        </p>
    </div>

    <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-primary uk-card-body">
                <h3 class="uk-card-title">Powder Paints & Coating</h3>
                <ul>
                    <li>
                         Polyester Coating Powder
                    </li>
                    <li>
                        Epoxy  Coating Powder
                    </li>
                        <li>
                            Polyurethane Coating Powder
                        </li>
                         <li>
                            Laser Printer Tonner Powder
                         </li>
                  
                </ul>
                <p></p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-body">
                <h3 class="uk-card-title">Landscaping & Garden Designing</h3>
               
                <ul>
                    <li>
                        Landscape Designer 
                    </li>
                    <li>
                        Garden Developer & Vertical Garden
                    </li>
                        <li>
                            Indore & Outdoor Landscaping
                        </li>
                         <li>
                            Office Landscaping

                         </li>
                  
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-body">
                <h3 class="uk-card-title">Industrial Agriculture Consultation</h3>
                
                <ul>
                    <li>
                        Agriculture Industry 
                    </li>
                    <li>
                        Product Development
                    </li>
                        <li>
                            Consultation for Industrial setup
                        </li>
                         <li>
                            Biofertilizer/ Biopestcide Plant 

                         </li>
                  
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-primary uk-card-body">
                <h3 class="uk-card-title">Import & Export</h3>
                <p>We export Agricultural and Industrial Products</p>
                <p>For Details Please Visit below Site</p>
                <p>Our Export Partner-Nishant Exports</p>
                <p><a href="www.nishantexport.com">www.nishantexport.com</a></p>
            </div>
        </div>
    </div>
<!-- 
    <div class="uk-grid-collapse uk-text-center" uk-grid>
            <div class="uk-width-1-2@s uk-width-1-2@m">
                <div class="uk-tile" id="card1">
                    <p class="uk-h4 t1">Industrial Power Paints</p>
                </div>
            </div>
            <div class="uk-width-1-2@s uk-width-1-2@m">
                    <div class="uk-tile" id="card2">
                        <p class="uk-h4 t2">Landscape Designing and Development</p>
                    </div>
                </div>
                <div class="uk-width-1-2@s uk-width-1-2@m">
                <div class="uk-tile" id="card3">
                    <p class="uk-h4 t3">Export of Agricultural and Industrial Goods</p>
                </div>
            </div>
            <div class="uk-width-1-2@s uk-width-1-2@m">
                <div class="uk-tile" id="card4">
                    <p class="uk-h4 t4">Agricultural Industrial Consultation</p>
                </div>
            </div>
        </div>
         -->
    <!-- <div>
        <ul>
            <li>Industrial Powder Paints</li>
            <li>Landscape and garden designing</li>
            <li>Export of agricultural and industrial goods</li>
            <li>Agriculture Industrial Consultation</li>
        </ul>
    </div> -->
    <br>
    
    <div>
        <p>Mrunmayi Agro Associates’ team ensures that our products adhere to stringent quality norms. Our products and
            services are available across in India. Our skilled workforce’s efforts have strengthened our operational
            excellence, business practices and unique marketing outreach program.

        </p>
    </div>
    <h2 class="uk-heading-line uk-text-center"><span>Get Quote</span></h2>
<div id="quote">
        <div class="uk-card uk-card-primary uk-card-body">
                <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Enter Your Full Name">
                       <input class="uk-input" type="text" placeholder="Enter Email Id or Mobile No">
                        <input class="uk-input" type="text" placeholder="Enter Your Requirement">
                    </div>
            <button class="uk-button uk-button-primary">Get Quote</button>
        </div>
        </div>
</div>
</div>