<div style="background-color:ivory" class="uk-container">
        <div class="uk-container">
  <ul class="uk-subnav" uk-margin>
      <li class="uk-active"><a pageScroll href="#main">What We Do</a></li>
      <li><a pageScroll href="#product">Product And Services</a></li>
      <li><a pageScroll href="#gallery">Gallery</a></li>
      <li><a pageScroll href="#quote">Get Quote</a></li>
  </ul>
  <h1 class="uk-heading-bullet">Powder Paints & Coating
  </h1>
  
  <h2 class="uk-heading-line uk-text-center"><span>Our Speciality in Powder Coating</span></h2>       
  <h2 class="uk-text-center"><span>MAA is Authorize Business partner of Thermolac for Central India</span></h2>
      <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
          <div>
              <div class="uk-card uk-card-default uk-card-body">
                  <div class="uk-card-media-top">
                      <img src="../../assets/imgs/Picture7.jpg" alt="">
                  </div>
                  </div>
                  </div>
                  <div>
                      <div class="uk-card uk-card-default uk-card-body">
                          <div class="uk-card-media-top">
                              <img src="../../assets/imgs/Picture6.jpg" alt="">
                          </div>
                  </div>
                  </div>
                  </div>
                  <div>

                  
      <legend><h3>What is Powder Coating?</h3></legend>    
      <p>With the development of the Green technologies, there has also been discussion of how Green Walls and Green Roof can contribute as solutions to issues like natural habitat, sustainability, building design and urban planning. The innovative designs and scarcity of space has triggered demand for non conventional greens like Green roof & Green walls. It is the only solution for introducing more & even more greenery in urban habitats.</p>
          <p>They are totally solvent free.Typically applied to metal products by electrostatic spray, the coated item is then heated and the powder melts into a smooth, continuous and encapsulating film. </p>
          <p>
            When thermosetting resins are used, the coating changes chemically (cross linking) during cure, resulting in a decorative / functional finish with superior performance characteristics.

          </p>
  <legend><h3>Why Powder Coating?</h3></legend>
  <ul class="uk-list uk-list-bullet">
    <li>Higher Quality
    </li>
    <li>Extremely Durable
    </li>
    <li>Environmentally Friendly
    </li>
    <li>Cost Efficient
    </li>
</ul>
  <legend><h3>Advantages of Powder Coating</h3></legend>
  <ul class="uk-list uk-list-bullet">
    <li>No solvents are used 
    </li>
    <li>Over-spray (up to 98%) can be reused
    </li>
    <li>More resistant to chipping, cracking, and fading

    </li>
    <li>Corrosion and chemical resistant

    </li>
    <li>
      Coating does not run, drip, or sag

    </li>
    <li>
      Thick coatings are easily done

    </li>
    <li>
      Simple clean-up and maintenance


    </li>
</ul>
  </div>
  
<br>
</div>

<div id="product">
    <h2 class="uk-heading-line uk-text-center"><span>Product & Service</span></h2>
<div class="uk-container childcomponent">

  <ul uk-tab>
      <li *ngFor="let i of items" (click)="selected(i)"><a>{{i.name}}</a></li>
  </ul>
  
  <div *ngIf="selectedVal.name=='Polyster Coating'">
      <div *ngFor="let s of selectedVal.sub">
          <span class="uk-label uk-label-danger">{{s.name}}</span> <span>&#8377; </span>
          <p>{{s.desription}}</p>
          <div class="uk-column-1-2">
            <div>
              <img src="{{s.img}}" height="200px" width="200px">
            </div>
            <div>
                <ul class="uk-list uk-list-striped">
                    <li class="uk-list uk-list-striped" *ngFor="let f of s.features">
                      {{f}}
                    </li>
                  </ul>
            </div>
          </div>
      </div>      
  </div>
  <div *ngIf="selectedVal.name=='Epoxy Coating Powder'">
        <div *ngFor="let s of selectedVal.sub">
            <span class="uk-label uk-label-danger">{{s.name}}</span> <span>&#8377; </span>
            <p>{{s.desription}}</p>
            <div class="uk-column-1-2">
              <div>
                <img src="{{s.img}}" height="200px" width="200px">
              </div>
              <div>
                  <ul class="uk-list uk-list-striped">
                      <li class="uk-list uk-list-striped" *ngFor="let f of s.features">
                        {{f}}
                      </li>
                    </ul>
              </div>
            </div>
        </div>      
    </div>
    <div *ngIf="selectedVal.name=='Epoxy Polutrathane Coating Powder'">
            <div *ngFor="let s of selectedVal.sub">
                <span class="uk-label uk-label-danger">{{s.name}}</span> <span>&#8377; </span>
                <p>{{s.desription}}</p>
                <div class="uk-column-1-2">
                  <div>
                    <img src="{{s.img}}" height="200px" width="200px">
                  </div>
                  <div>
                      <ul class="uk-list uk-list-striped">
                          <li class="uk-list uk-list-striped" *ngFor="let f of s.features">
                            {{f}}
                          </li>
                        </ul>
                  </div>
                </div>
            </div>      
        </div>
</div>
<h2 class="uk-heading-line uk-text-center"><span>Get Quote</span></h2>
<div id="quote">
        <div class="uk-card uk-card-primary uk-card-body">
                <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Enter Your Full Name">
                       <input class="uk-input" type="text" placeholder="Enter Email Id or Mobile No">
                        <input class="uk-input" type="text" placeholder="Enter Your Requirement">
                    </div>
            <button class="uk-button uk-button-primary">Get Quote</button>
        </div>
        </div>
        </div>
</div>
