<div  style="background-color:ivory" class="uk-container childcomponent">
    <h2 class="uk-heading-line uk-text-center"><span>What We Offer</span></h2>
    
    <div>
        <p><b>MAA</b> offers a wide array Agricultural Consulting Service. Our provided advisory services are executed by talented and deep knowledgeable professionals and sternly examined on every level of providing to prevent any type of failure. These services are available in varied provisions as per the needs of our patrons.</p>
<p>We draw on our expertise across industries and capabilities to develop and implement solutions that deliver the best results. <b>MAA</b> has a global network of agribusiness experts, and we work jointly with agricultural companies to address opportunities across agriculture sectors.</p>
<h2 class="uk-heading-line uk-text-center"><span>Consultation Service Provided on:</span></h2>
<ul>
  <li>Agricultural chemicals and fertilizer producers.</li>
  <li>Biofuels.</li>
  <li>Dairy.</li>
  <li>Crops (corn, oilseeds, wheat, rice, sugarcane).</li>
  <li>Agriculture equipment (tractors, grain/protein processing equipment).</li>
</ul>
    </div>

    

    <h2 class="uk-heading-line uk-text-center"><span>Get Quote</span></h2>
    <div id="quote">
            <div class="uk-card uk-card-primary uk-card-body">
                    <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Enter Your Full Name">
                           <input class="uk-input" type="text" placeholder="Enter Email Id or Mobile No">
                            <input class="uk-input" type="text" placeholder="Enter Your Requirement">
                        </div>
                <button class="uk-button uk-button-primary">Get Quote</button>
            </div>
            </div>
  </div>