<div class="uk-position-top" style="z-index: 1;">
  <nav class="uk-navbar-container" [style.background-color]="bgcolor" uk-navbar>
    <div class="uk-navbar-left" [ngClass]="{'uk-hidden': device}">
      <ul class="uk-navbar-nav">
        <li><a routerLink="/home">Home</a>
        <li><a routerLink="/aboutus">About Us</a>
        <li><a href="#">Services</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a routerLink="/powdercoating">Powder Coating</a></li>
              <li class="uk-nav-divider"></li>
              <li><a routerLink="/landscape">Landscape Designing</a></li>
              <li class="uk-nav-divider"></li>
              <li><a routerLink="/consulting">Consulting</a></li>
              <li class="uk-nav-divider"></li>
              <li><a routerLink="/consulting">Export</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a routerLink="contactus">Contact Us</a>
        </li>
      </ul>
    </div>

    <div class="uk-navbar-right" [ngClass]="{'uk-hidden': device}">
      <ul class="uk-navbar-nav">
        <li class="uk-logo">
          <img src="../assets/imgs/logo.jpg" style="height:80px;width: 200px;padding-right:35px" alt="">
        </li>
      </ul>
    </div>
  </nav>

  <div class="uk-offcanvas-content" id="sidenav" [ngClass]="{'uk-hidden': !device}">
    <div class="uk-navbar-left background-color-primary">
      <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target:#offcanvas-usage"></a>
    </div>
    <!-- <a href="#offcanvas-usage" uk-toggle>Open</a> -->
    <div id="offcanvas-usage" uk-offcanvas>
      <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <h3>Menu</h3>
        <div class="uk-width-1-2@s uk-width-2-5@m">
          <ul class="uk-nav uk-nav-default">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/aboutus">About Us</a></li>
            <li class="uk-parent">
              <a>Service</a>
              <ul class="uk-nav-sub">
                <li><a routerLink="/powdercoating"></a>Powder Coating</li>
                <li><a routerLink="/landscape"></a>Landscape Design</li>
                <li><a routerLink="/consulting">Consulting</a></li>
                <li><a routerLink="/consulting">Export</a></li>
              </ul>
            </li>
            <li><a routerLink="/contactus">ContactUs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>