
img{
    height: 600px;
    width:100vw;
}


.uk-navbar-nav>li>a{
    color: green
}
 
  // *********************************************
// Overlay Mixin
// This is where all the overlay magic Happens!!!
// *********************************************
@mixin dark-overlay{
    &:after{
        content: "";
        width: 100%;
        height: auto;
        position: absolute;
        z-index: -1; 
    // Take note of this negative z-index and copare to each article's positive z-index. This helps your content to show up over the overlay.
     top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}


.full-overlay{
    position: relative;
    z-index: 1;
    height:60vh;
    text-align: center;
    padding:40px;
    //background:url("../../assets/imgs/center.jpg") no-repeat;
    background-size: cover;
    @include dark-overlay;
  }
  .full-overlay:after{
    background:rgba(0, 0, 0, 0.75);
  }
 

  