<!-- <div  style="background-color:ivory" class="uk-container">
    <h2 class="uk-heading-line uk-text-center"><span>We Offer Export Services Through Our Partner</span></h2>
    <h4 class="uk-heading-line uk-text-center"><span>Nishant Exports</span></h2>
    <h4>For More Details, Please Visit Below Site</h4>
    <a href="www.nishantexport.com">www.nishantexport.com</a>
</div>
<h2 class="uk-heading-line uk-text-center"><span>Get Quote</span></h2>
<div id="quote">
        <div class="uk-card uk-card-primary uk-card-body">
                <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Enter Your Full Name">
                       <input class="uk-input" type="text" placeholder="Enter Email Id or Mobile No">
                        <input class="uk-input" type="text" placeholder="Enter Your Requirement">
                    </div>
            <button class="uk-button uk-button-primary">Get Quote</button>
        </div>
        </div>

 -->