<div style="background-color:ivory" class="uk-container">
        
<div class="uk-container">
        <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
    <div>
    <div class="uk-card uk-card-default uk-card-body">
    <form class="uk-form-stacked" [formGroup]="frmGrp">
      <fieldset class="uk-fieldset">
          <legend class="uk-legend">Contact Us</legend>
          <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Name</label>
              <div class="uk-form-controls">
                  <input class="uk-input uk-width-1-2@m  uk-width-1-1@s" type="text" formControlName="name" 
                  [class.uk-form-danger]="!frmGrp.get('name').valid && frmGrp.get('name').touched"
                  [class.uk-form-success]="frmGrp.get('name').valid && frmGrp.get('name').touched">
                  <div class="error">
                    <span *ngIf="!frmGrp.get('name').valid && (frmGrp.get('name').dirty || frmGrp.get('name').touched) ">
                        Name is required
                    </span>
                  </div>
              </div>
          </div>

          <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Email</label>
              <div class="uk-form-controls">
                    <input class="uk-input uk-width-1-2@m uk-width-1-1@s" type="text" formControlName="email" 
                    [class.uk-form-danger]="!frmGrp.get('email').valid && frmGrp.get('email').touched"
                    [class.uk-form-success]="frmGrp.get('email').valid && frmGrp.get('email').touched">
                    <div class="error">
                      <span *ngIf="!frmGrp.get('email').valid && (frmGrp.get('email').dirty || frmGrp.get('email').touched) ">
                          email is required
                      </span>
                    </div>
                </div>
          </div>
          <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Mobile</label>
              <div class="uk-form-controls">
                    <input class="uk-input uk-width-1-2@m  uk-width-1-1@s" type="text" formControlName="mobile" 
                    [class.uk-form-danger]="!frmGrp.get('mobile').valid && frmGrp.get('mobile').touched"
                    [class.uk-form-success]="frmGrp.get('mobile').valid && frmGrp.get('mobile').touched">
                    <div class="error">
                      <span *ngIf="!frmGrp.get('mobile').valid && (frmGrp.get('mobile').dirty || frmGrp.get('mobile').touched) ">
                          Mobile is required
                      </span>
                    </div>
                </div>
          </div>
          <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Message</label>
              <textarea class="uk-textarea" formControlName="message"></textarea>
          </div>
         <button class="uk-button uk-button-primary uk-width-1-4@m uk-width-1-1@s" [disabled]="!frmGrp.valid" (click)="sendEmail()">Submit</button>
      </fieldset>
    </form>
    </div>
    </div>
    <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Registered Address</h3>
                <p><h3>Mrunmayi Agro Associates</h3>
                        <p>38, Sarswati Nagar , Near janki Nagar, 
                                Nagpur 440034 MS India
                                mrunmayiagro@gmail.com
                                mrunmayiagro@outlook.com</p>
        </div>
        </div>
    </div>
   
           
                
</div>
</div>