<div class="uk-position-relative uk-visible-toggle uk-dark" uk-slideshow="animation:slide;autoplay:true;autoplay-interval:3000">
<ul class="uk-slideshow-items">
    <li>
        <img src="../../assets/imgs/color4.jpg" alt="">
        <img src="../../assets/imgs/color2.jpg" alt=""> 
        <img src="../../assets/imgs/color7.jpg" alt=""> 
        
    </li>  
    <li>
        <img src="../../assets/imgs/landscape.jpg"  alt="" uk-img>
        <img src="../../assets/imgs/Picture3.jpg" alt="">
        <img src="../../assets/imgs/9.jpeg" alt="" uk-img>
       
    </li>   
    <li>
        <img src="../../assets/imgs/farm.jpg" alt="">
        
        <img src="../../assets/imgs/bio.jpg" alt="">
        <img src="../../assets/imgs/ie3.jpg" alt="">
            <!-- <div class="uk-overlay uk-overlay-primary uk-text-center uk-position-center uk-light" style="height:600px;width:100vw;">
              
          </div> -->
        </li>
        
        
    </ul>
    
    <a class="uk-position-center-left uk-position-large" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-large" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        
</div>
  <div class="uk-child-width-1@m" uk-grid>    
    <app-navpanel></app-navpanel>
  </div>
