


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .uk-container{
    position: relative;
  padding: 5px;
  padding-top: 30px;
  display: block;
  justify-content: center
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .uk-container{
  position: relative;
  padding: 5px;
  padding-top: 30px;
  display: block;
  justify-content: center;
  }
  
  .img{
    height:400px;
    width:400px;
    box-shadow: 0 5px 15px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .uk-container{
    position: relative;
    padding: 20px;
    padding-top: 50px;
    display: block;
    justify-content: center
  }
  
  img{
    display: block;
    height:500px;
    width:600px;
    box-shadow: 0 5px 15px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.uk-container{
  position: relative;
  padding: 100px;
  display: block;
  justify-content: center
} 
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .uk-container{
    position: relative;
  padding: 100px;
  display: block;
  justify-content: center
  }

  img{
    height:500px;
    width:400px;
    box-shadow: 0 5px 15px;
  }
}

