<div style="background-color:ivory" class="uk-container">
<ul class="uk-subnav" uk-margin>
    <li class="uk-active"><a pageScroll href="#main">What We Do</a></li>
    <li><a pageScroll href="#product">Product And Services</a></li>
    <li><a pageScroll href="#gallery">Gallery</a></li>
    <li><a pageScroll href="#quote">Get Quote</a></li>
</ul>
<h1 class="uk-heading-bullet">Landscape Designing and Architecture</h1>

<h2 class="uk-heading-line uk-text-center"><span>What We Do</span></h2>       
<div id="main">
    <p>We are one of the best landscape designers and we bridges the space between landscape architecture and garden design.
     We belive nature and culture go hand in hand and we reflect the same in our work.We focus on both the integrated master landscape planning of a property and the specific garden design of landscape elements and plants within it.</p>
    
</div>

<div id="product">
        <h2 class="uk-heading-line uk-text-center"><span>Product & Service</span></h2>
        <div class="uk-child-width-1-6@m uk-grid-small uk-grid-match" uk-grid>
                      <div>
                    <div class="uk-card uk-card-primary uk-card-body">
                            <h3 class="uk-card-title">Roof Top Vertical Gardens</h3>    
                        </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-primary uk-card-body">
                                    <h3 class="uk-card-title">Lawn and Garden Design</h3> 
                        </div>
                        </div>
                        <div>
                                <div class="uk-card uk-card-primary uk-card-body">
                                        <h3 class="uk-card-title">Nursery Products</h3>    
                                    </div>
                                    </div>
                                    <div>
                                        <div class="uk-card uk-card-primary uk-card-body">
                                                <h3 class="uk-card-title">Office Landscape</h3> 
                                    </div>
                                    </div>
                                    
                                    <div>
                                            <div class="uk-card uk-card-primary uk-card-body">
                                                    <h3 class="uk-card-title">Custom Site Solution</h3>    
                                                </div>
                                                </div>
                                                <div>
                                                    <div class="uk-card uk-card-primary uk-card-body">
                                                            <h3 class="uk-card-title">Provide necessary irrigation system</h3> 
                                                </div>
                                                </div>
                                                </div>
                            
                        </div>
                                            
        
   <!--      <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                        <div class="uk-card uk-card-secondary uk-card-body">
                            <h3 class="uk-card-title">Roof Top Vertical Gardens</h3>     
                        </div>
                    </div>
            </div>
                
                <div>
                    <div class="uk-card uk-card-primary uk-card-body">
                        <h3 class="uk-card-title">Lawn and Garden Design</h3>
                        
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">
                        <h3 class="uk-card-title">Nursery Products</h3>
                        
                    </div>
                </div>
                <div>
                        <div class="uk-card uk-card-secondary uk-card-body">
                            <h3 class="uk-card-title">Office Landscape</h3>
                            
                        </div>
                    </div>
                    <div>
                            <div class="uk-card uk-card-secondary uk-card-body">
                                <h3 class="uk-card-title">Custom Site Implementation</h3>
                                
                            </div>
                        </div>
                        <div>
                                <div class="uk-card uk-card-secondary uk-card-body">
                                    <h3 class="uk-card-title">Provide necessary irrigation system</h3>
                                   
                                </div>
                            </div>

            </div> -->




<div class="uk-grid" uk-grid id="gallery">
        <h2 class="uk-heading-line uk-text-center uk-width-1-1"><span>Gallery</span></h2>
    <div class="uk-width-1-2@m uk-width-1-1@s" *ngFor="let img of images">
    <img src={{img}} class="img" uk-img>     
    </div>
</div>
<h2 class="uk-heading-line uk-text-center"><span>Get Quote</span></h2>
<div id="quote">
<div class="uk-card uk-card-primary uk-card-body">
        <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Enter Your Full Name">
                <input class="uk-input" type="text" placeholder="Enter Email Id or Mobile No">
                 <input class="uk-input" type="text" placeholder="Enter Your Requirement">
             
            </div>
    <button class="uk-button uk-button-primary">Get Quote</button>
</div>
</div>
</div>

